{
    injection_sinks: Some([
        (
            pattern: "execute",
            finding_type: Some("test"),
            conditions: None,
            file_types: None,
        ),
        (
            pattern: "readObject",
            finding_type: Some("test"),
            conditions: None,
            file_types: None,
        ),
    ]),
} 